Trace Library/Trace Library.cbp
Trace Library/Trace Library.depend
Trace Library/Trace Library.layout
Trace Library/bin/
Trace Library/obj/
Trace Library/trace.json
Trace Library/test
Lab2/bin/
Lab2/obj/
Lab2/Lab2.cbp
Lab2/Lab2.depend
Lab2/Lab2.layout
Lab2/method_1.json
Lab2/method_2.json
Lab2/method_3.json
Lab2/trace.json
Lab2/short_trace.json
Lab2/Lab2
Lab2/data
Lab3/Lab3.cbp
Lab3/Lab3.depend
Lab3/Lab3.layout
Lab3/bin/
Lab3/obj/
Lab3/wordCount_1
Lab3/wordCount_2
Lab3/*.json
Lab3/prime.txt
Lab3/primeCount_1
Lab3/primeCount_2
Lab3/data
Lab4/wordCount
Lab5/Lab5.cbp
Lab5/Lab5.depend
Lab5/Lab5.layout
Lab5/bin/
Lab5/obj/
Lab5/SATSolve
Lab5/test/
